*{
	font-family: Arial, Helvetica, sans-serif;
	color: #8E9398;
  /*  background-color: #24252A;*/
}

:root {
	--r: 255;
	--g: 0;
	--b: 0;
	--text-color: rgb(0,0,0);
	transition: transform .1s ease-in-out;
	--backgroundcolor: #f2f2f2;
}

/* Background sheet color */
.qvt-sheet {
    background: var(--backgroundcolor) !important;
}

html, body{
	text-align: 100%;
	height: 100%;
}

.container {
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0px;
}

.logo
{
    cursor: pointer;
}

/* Qlik Objects Styling*/

.qvfilter {
	min-height: 38px;
	min-width: 200px;
	background-color: rgb(255,255,255);
	cursor: pointer;
}

.qvplaceholder, .qvobject {
	min-height: 400px;
	min-width: 400px;
	background-color: rgb(255,255,255);
	border-radius: 4px;
	padding: .5 rem !important;
	border: 1px solid #0000;
}

.qvkpi {
	min-height: 100px;
	min-width: 150px;
	background-color: rgb(255,255,255);
	border-radius: 4px;
	border: 1px solid #0000;	
}

.qvfinbutton {
	height: 50px;
	min-width: 200px;
	/* background-color: antiquewhite; */
	cursor: pointer;
}

.qvbutton {
	height: 100%;
	width: 100%;
	min-height: 80px;
	min-width: 150px;
	/* margin: 2%; */
	/* background-color: antiquewhite; */
	cursor: pointer;
}

#popup {
	background-color: #c3534b;
	color: #000;
	position: fixed;
	max-width: 250px;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
	z-index: 6;
	font-family: sans-serif;
}

.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	position: absolute;
	right: 9px;
	top: 7px;
}

.close:hover {
	opacity: .5;
}

#popupText {
	margin-right: 23px;
}

/*Set the Stäubli theme css*/
/* Set Stäubli logo default to the upper right corner */
#sheet-title.sheet-grid:after{
    content: " ";
    display: block;
    height: 30px;
    width: 20%;
    background-image: url(https://bidev.staubli.com/content/Staubli%20Logo%20Library/staubli.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-right: 10px;
}

/* Set sheet title color to stäubli grey */
#sheet-title .sheet-title-text {
    color: #8E9398 !important;
}

/* Set sheet title background to white */
.qv-panel-sheet .sheet-title-container {
    background-color: #ffffff !important;
}

/* Set background color of input variable extension to white*/
article.qv-object.qvt-visualization.qv-layout-spark.qv-object-qlik-variable-input {
    border: 0px solid !important;
}

/* Change the left padding of the KPI object */
.sn-kpi-left, .left {
    padding-left: 10px;
}

/* change height for iframe card home - page */
iframe.card-img-top{
	height: 350px !important;
}

/* set navbar height + add border */
.navbar {
	height: 5vh; /* Set your desired height */
	border-bottom: 1px solid #8e93986b;
}

/* try to influence the qlik iframe sheet properties - not working at the moment */
.div.single-object #content{
	padding: 0px 5px 5px !important;
	margin: -35px -5px -5px !important;
}

/* add height of the base div body element */
.embed-responsive.ratio.ratio-16x9{
	height: 95vh;
}

/* set height of the home panel */
.album.py-5.bg-light {
    height: 90vh;
}

/*add margin to the home panel text */
.jumbotron-heading{
	margin-top: 1rem;
}